<a href="https://colab.research.google.com/github/dareoyeleke/SQL-ENGINEERING/blob/main/VIEWS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sys
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# If running in Google Colab, install PostgreSQL and restore the database
if 'google.colab' in sys.modules:
    # Update package installer
    !sudo apt-get update -qq > /dev/null 2>&1

    # Install PostgreSQL
    !sudo apt-get install postgresql -qq > /dev/null 2>&1

    # Start PostgreSQL service (suppress output)
    !sudo service postgresql start > /dev/null 2>&1

    # Set password for the 'postgres' user to avoid authentication errors (suppress output)
    !sudo -u postgres psql -c "ALTER USER postgres WITH PASSWORD 'password';" > /dev/null 2>&1

    # Create the 'colab_db' database (suppress output)
    !sudo -u postgres psql -c "CREATE DATABASE contoso_100k;" > /dev/null 2>&1

    # Download the PostgreSQL .sql dump
    !wget -q -O contoso_100k.sql https://github.com/lukebarousse/Int_SQL_Data_Analytics_Course/releases/download/v.0.0.0/contoso_100k.sql

    # Restore the dump file into the PostgreSQL database (suppress output)
    !sudo -u postgres psql contoso_100k < contoso_100k.sql > /dev/null 2>&1

    # Shift libraries from ipython-sql to jupysql
    !pip uninstall -y ipython-sql > /dev/null 2>&1
    !pip install jupysql > /dev/null 2>&1

# Load the sql extension for SQL magic
%load_ext sql

# Connect to the PostgreSQL database
%sql postgresql://postgres:password@localhost:5432/contoso_100k

# Enable automatic conversion of SQL results to pandas DataFrames
%config SqlMagic.autopandas = True

# Disable named parameters for SQL magic
%config SqlMagic.named_parameters = "disabled"

# Display pandas number to two decimal places
pd.options.display.float_format = '{:.2f}'.format

Connecting to 'postgresql://postgres:***@localhost:5432/contoso_100k'

In [ ]:
%%sql
CREATE VIEW all_revenue as
SELECT
  orderdate,
  SUM(quantity * netprice * exchangerate) as total_revenue
FROM
  sales
GROUP BY orderdate
ORDER BY orderdate;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

Empty DataFrame
Columns: []
Index: []

In [ ]:
%%sql
SELECT
  *
FROM
 all_revenue

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

3294 rows affected.

       orderdate  total_revenue
0     2015-01-01       11640.80
1     2015-01-02        5890.40
2     2015-01-03       19796.67
3     2015-01-05       12406.27
4     2015-01-06       10349.87
...          ...            ...
3289  2024-04-16       25098.99
3290  2024-04-17       32938.67
3291  2024-04-18       28408.76
3292  2024-04-19       48386.88
3293  2024-04-20       96879.43

[3294 rows x 2 columns]

In [ ]:
%%sql
DROP VIEW all_revenue

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

Empty DataFrame
Columns: []
Index: []

In [ ]:
%%sql

SELECT
  column_name
FROM
  information_schema.columns
WHERE
  table_schema = 'public'
AND
  table_name = 'customer'

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

24 rows affected.

      column_name
0     customerkey
1      geoareakey
2         startdt
3           enddt
4       continent
5          gender
6           title
7       givenname
8   middleinitial
9         surname
10  streetaddress
11           city
12          state
13      statefull
14        zipcode
15        country
16    countryfull
17       birthday
18            age
19     occupation
20        company
21        vehicle
22       latitude
23      longitude

In [ ]:
%%sql
SELECT
  column_name
FROM information_schema.columns
WHERE
  table_schema = 'public'
AND
  table_name = 'sales'

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

13 rows affected.

     column_name
0       orderkey
1     linenumber
2      orderdate
3   deliverydate
4    customerkey
5       storekey
6     productkey
7       quantity
8      unitprice
9       netprice
10      unitcost
11  currencycode
12  exchangerate

In [ ]:
%%sql

SELECT
  count(*)
FROM
  customer;

SELECT
  count(*)
FROM
  sales

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

1 rows affected.

1 rows affected.

    count
0  199873

In [ ]:
%%sql
CREATE OR REPLACE VIEW customer_name_order AS
WITH revenue_table as
(
SELECT
  customerkey,
  orderdate,
  SUM(quantity * netprice * exchangerate) as total_net_revenue,
  COUNT(orderkey) AS order_counts
FROM
  sales
GROUP BY customerkey, orderdate
)

SELECT
  rt.customerkey,
  rt.orderdate,
  rt.total_net_revenue,
  rt.order_counts,
  MIN(rt.orderdate) OVER(PARTITION BY rt.customerkey)AS first_purchase_date,
  EXTRACT(YEAR FROM MIN(rt.orderdate) OVER(PARTITION BY rt.customerkey)) as cohort_year ,
  c.countryfull,
  c.age,
  c.givenname,
  c.surname
FROM
  revenue_table rt
LEFT JOIN customer c ON rt.customerkey = c.customerkey

In [ ]:
%%sql

SELECT
  column_name
FROM
  information_schema.columns
WHERE
  table_schema = 'public'
AND
  table_name = 'customer_name_order';

ALTER VIEW customer_name_order RENAME COLUMN order_counts TO num_orders;

In [16]:
%%sql

SELECT
  ROW_NUMBER() OVER(ORDER BY column_name) AS number_of_columns,
  column_name
FROM
  information_schema.columns
WHERE
  table_schema = 'public'
AND
  table_name = 'customer_name_order'

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

   number_of_columns          column_name
0                  1                  age
1                  2          cohort_year
2                  3          countryfull
3                  4          customerkey
4                  5  first_purchase_date
5                  6            givenname
6                  7           num_orders
7                  8            orderdate
8                  9              surname
9                 10    total_net_revenue