<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Int_SQL_Data_Analytics_Course/blob/main/Resources/Blank_SQL_Notebook.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# Blank SQL Notebook

#### Import Libraries & Database

In [1]:
import sys
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# If running in Google Colab, install PostgreSQL and restore the database
if 'google.colab' in sys.modules:
    # Update package installer
    !sudo apt-get update -qq > /dev/null 2>&1

    # Install PostgreSQL
    !sudo apt-get install postgresql -qq > /dev/null 2>&1

    # Start PostgreSQL service (suppress output)
    !sudo service postgresql start > /dev/null 2>&1

    # Set password for the 'postgres' user to avoid authentication errors (suppress output)
    !sudo -u postgres psql -c "ALTER USER postgres WITH PASSWORD 'password';" > /dev/null 2>&1

    # Create the 'colab_db' database (suppress output)
    !sudo -u postgres psql -c "CREATE DATABASE contoso_100k;" > /dev/null 2>&1

    # Download the PostgreSQL .sql dump
    !wget -q -O contoso_100k.sql https://github.com/lukebarousse/Int_SQL_Data_Analytics_Course/releases/download/v.0.0.0/contoso_100k.sql

    # Restore the dump file into the PostgreSQL database (suppress output)
    !sudo -u postgres psql contoso_100k < contoso_100k.sql > /dev/null 2>&1

    # Shift libraries from ipython-sql to jupysql
    !pip uninstall -y ipython-sql > /dev/null 2>&1
    !pip install jupysql > /dev/null 2>&1

# Load the sql extension for SQL magic
%load_ext sql

# Connect to the PostgreSQL database
%sql postgresql://postgres:password@localhost:5432/contoso_100k

# Enable automatic conversion of SQL results to pandas DataFrames
%config SqlMagic.autopandas = True

# Disable named parameters for SQL magic
%config SqlMagic.named_parameters = "disabled"

# Display pandas number to two decimal places
pd.options.display.float_format = '{:.2f}'.format

Connecting to 'postgresql://postgres:***@localhost:5432/contoso_100k'

In [10]:
%%sql
SELECT
  customerkey,
  orderkey,
  linenumber,
  (quantity * netprice * exchangerate) as net_revenue,
  AVG (quantity * netprice * exchangerate) OVER() avg_net_revenue_all_orders,
  AVG (quantity * netprice * exchangerate) OVER( PARTITION BY customerkey) avg_net_revenue_this_orders
FROM sales
ORDER BY customerkey
LIMIT 10

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

,customerkey,orderkey,linenumber,net_revenue,avg_net_revenue_all_orders,avg_net_revenue_this_orders
0,15,2259001,0,2217.41,1032.69,2217.41
1,180,3162018,1,1913.55,1032.69,836.74
2,180,3162018,0,71.36,1032.69,836.74
3,180,1305016,0,525.31,1032.69,836.74
4,185,1613010,0,1395.52,1032.69,1395.52
5,243,505008,0,287.67,1032.69,287.67
6,387,3242015,3,446.44,1032.69,517.32
7,387,3242015,2,180.35,1032.69,517.32
8,387,3242015,0,30.51,1032.69,517.32
9,387,3242015,1,362.44,1032.69,517.32

In [35]:
%%sql
/*
  Ran in order of customer key orders the index, order date per customer key follows, order rank from 1 forward follows highest revenue to lowest revenue, customer running
  revenue is ordered by indivdual day, total revenue is total sum for all orders
*/
SELECT
  customerkey,
  orderdate,
  (quantity * netprice * exchangerate) as net_revenue,
  ROW_NUMBER() OVER(
    PARTITION BY customerkey
    ORDER BY quantity * netprice * exchangerate DESC
  ) as order_rank,
  SUM (quantity * netprice * exchangerate) OVER(
    PARTITION BY customerkey
    ORDER BY orderdate
  ) as customer_running_revenue,
  SUM (quantity * netprice * exchangerate) OVER(
    PARTITION BY customerkey
  ) as customer_total_revenue,
 (quantity * netprice * exchangerate)/SUM(quantity * netprice * exchangerate) OVER(
    PARTITION BY customerkey
  ) * 100 as pct_of_revenue
FROM sales
ORDER BY customerkey, orderdate
LIMIT 10

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

,customerkey,orderdate,net_revenue,order_rank,customer_running_revenue,customer_total_revenue,pct_of_revenue
0,15,2021-03-08,2217.41,1,2217.41,2217.41,100.00
1,180,2018-07-28,525.31,2,525.31,2510.22,20.93
2,180,2023-08-28,1913.55,1,2510.22,2510.22,76.23
3,180,2023-08-28,71.36,3,2510.22,2510.22,2.84
4,185,2019-06-01,1395.52,1,1395.52,1395.52,100.00
5,243,2016-05-19,287.67,1,287.67,287.67,100.00
6,387,2018-12-21,619.77,3,2370.54,4655.84,13.31
7,387,2018-12-21,1608.10,1,2370.54,4655.84,34.54
8,387,2018-12-21,97.05,7,2370.54,4655.84,2.08
9,387,2018-12-21,45.62,8,2370.54,4655.84,0.98

In [47]:
%%sql

SELECT
    orderdate,
    orderkey * 10 + linenumber as order_line_item,
    (quantity * netprice * exchangerate) as net_revenue,
    SUM(quantity * netprice * exchangerate) OVER(
      PARTITION BY orderdate
    ) as daily_net_revenue,
    (quantity * netprice * exchangerate) /  SUM(quantity * netprice * exchangerate) OVER(
      PARTITION BY orderdate
    ) * 100 as pct_of_revenue
FROM
    sales
ORDER BY orderdate, net_revenue DESC
LIMIT 10

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

    orderdate  order_line_item  net_revenue  daily_net_revenue  pct_of_revenue
0  2015-01-01            10043      2395.10           11640.80           20.58
1  2015-01-01            10061      1552.32           11640.80           13.34
2  2015-01-01            10022      1302.91           11640.80           11.19
3  2015-01-01            10020      1146.75           11640.80            9.85
4  2015-01-01            10050       975.16           11640.80            8.38
5  2015-01-01            10021       950.25           11640.80            8.16
6  2015-01-01            10041       578.52           11640.80            4.97
7  2015-01-01            10081       574.05           11640.80            4.93
8  2015-01-01            10001       423.28           11640.80            3.64
9  2015-01-01            10040       263.11           11640.80            2.26

In [82]:
%%sql
WITH yearly_cohort as (
  SELECT DISTINCT
    customerkey,
    EXTRACT (YEAR FROM MIN(orderdate) OVER (PARTITION BY customerkey)) as cohort_year
  FROM sales )
SELECT
  yc.cohort_year,
  EXTRACT (YEAR FROM s.orderdate) as purchase_year,
  SUM(s.quantity * s.netprice * s.exchangerate) as net_revenue
FROM sales s
LEFT JOIN yearly_cohort yc ON s.customerkey = yc.customerkey
GROUP BY yc.cohort_year, purchase_year
ORDER BY yc.cohort_year

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

55 rows affected.

   cohort_year purchase_year  net_revenue
0         2015          2015   7370979.48
1         2015          2016    392623.48
2         2015          2017    479841.31
3         2015          2018   1069850.87
4         2015          2019   1235991.48
5         2015          2020    386489.60
6         2015          2021    872845.99
7         2015          2022   1569787.72
8         2015          2023   1157633.91
9         2015          2024    356186.62
10        2016          2016   9990990.20
11        2016          2017    497028.11
12        2016          2018   1074607.29
13        2016          2019   1565400.72
14        2016          2020    474087.09
15        2016          2021    964417.85
16        2016          2022   2164681.10
17        2016          2023   1265242.63
18        2016          2024    364066.76
19        2017          2017  12244469.63
20        2017          2018   1407065.13
21        2017          2019   1764716.90
22        2017          2020    625928.03
23        2017          2021   1329858.72
24        2017          2022   2428882.80
25        2017          2023   1714010.18
26        2017          2024    464802.56
27        2018          2018  21115924.55
28        2018          2019   3229188.22
29        2018          2020   1171126.65
30        2018          2021   2201262.39
31        2018          2022   4534295.81
32        2018          2023   3271753.92
33        2018          2024    936833.89
34        2019          2019  24022798.65
35        2019          2020   1295044.99
36        2019          2021   2337594.77
37        2019          2022   4848980.74
38        2019          2023   3440099.20
39        2019          2024    751725.53
40        2020          2020   7265759.44
41        2020          2021   1016399.07
42        2020          2022   1891708.40
43        2020          2023   1435051.04
44        2020          2024    312983.02
45        2021          2021  12635597.87
46        2021          2022   3014082.50
47        2021          2023   2242369.63
48        2021          2024    495686.18
49        2022          2022  24412138.13
50        2022          2023   4237220.04
51        2022          2024   1223450.12
52        2023          2023  14345184.96
53        2023          2024    634143.37
54        2024          2024   2856649.33

In [ ]:
OVER(
    PARTITION BY yc.cohort_year
  ) as net_revenue